{
  "openapi": "3.0.0",
  "info": {
    "title": "API de Denuncias Allianz",
    "version": "1.0.0",
    "description": "API para dar de alta una denuncia sin aparente (sin AP) en el sistema de seguros."
  },
  "servers": [
    {
      "url": "http://example.allianz.com.ar/api/denuncias",
      "description": "Servidor de Producción de Denuncias"
    }
  ],
  "paths": {
    "/alta": {
      "post": {
        "summary": "Crear una nueva denuncia sin AP.",
        "description": "Recibe los datos de una denuncia para ser registrada en el sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltaDenunciaSinApIn"
              },
              "example": {
                "AltaDenunciaSinApIn": {
                  "datosDenuncia": {
                    "codGrupo": "2401",
                    "codOrganizador": "M2401",
                    "codProductor": "M2401",
                    "codSeccion": "210",
                    "fecOcurrecia": "2024-08-25",
                    "fecDenuncia": "2024-08-25",
                    "nroPoliza": "242100522986",
                    "nroRiesgo": 1,
                    "nroEndoso": 5
                  },
                  "detalleDenuncia": {
                    "idSeccion": "210",
                    "idTipoSiniestro": "A",
                    "deTipoSiniestro": "ACCIDENTE",
                    "idCausaSiniestro": "IP",
                    "deCausaSiniestro": "INCAPACIDAD PARCIAL",
                    "deHechos": "Venia circulando y me choco una bicicleta",
                    "indExtemporaneo": "N",
                    "deExtemporaneo": null,
                    "nroRiesgoUbicacion": 1,
                    "emailAsegurado": "HORACIORIV2012@HOTMAIL.COM",
                    "telefAsegurado": "02323641800"
                  },
                  "detalleAp": {
                    "idProvinciaOcurr": "01",
                    "idLocalidadOcurr": "005",
                    "idCpOcur": "6708",
                    "deDirCalleOcurr": "9 DE JULIO",
                    "deDirNroOcurr": "2500",
                    "deTareas": "CONTADOR",
                    "indTareasSiniestro": "S",
                    "deDanos": "Esguince de tobillo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Denuncia creada con éxito.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensaje": {
                      "type": "string"
                    },
                    "nroDenuncia": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "mensaje": "Denuncia registrada correctamente.",
                  "nroDenuncia": "123456789"
                }
              }
            }
          },
          "400": {
            "description": "Solicitud inválida. El formato de los datos es incorrecto."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AltaDenunciaSinApIn": {
        "type": "object",
        "properties": {
          "datosDenuncia": {
            "$ref": "#/components/schemas/DatosDenuncia"
          },
          "detalleDenuncia": {
            "$ref": "#/components/schemas/DetalleDenuncia"
          },
          "detalleAp": {
            "$ref": "#/components/schemas/DetalleAp"
          }
        }
      },
      "DatosDenuncia": {
        "type": "object",
        "properties": {
          "codGrupo": {
            "type": "string"
          },
          "codOrganizador": {
            "type": "string"
          },
          "codProductor": {
            "type": "string"
          },
          "codSeccion": {
            "type": "string"
          },
          "fecOcurrecia": {
            "type": "string",
            "format": "date"
          },
          "fecDenuncia": {
            "type": "string",
            "format": "date"
          },
          "nroPoliza": {
            "type": "string"
          },
          "nroRiesgo": {
            "type": "integer"
          },
          "nroEndoso": {
            "type": "integer"
          }
        }
      },
      "DetalleDenuncia": {
        "type": "object",
        "properties": {
          "idSeccion": {
            "type": "string"
          },
          "idTipoSiniestro": {
            "type": "string"
          },
          "deTipoSiniestro": {
            "type": "string"
          },
          "idCausaSiniestro": {
            "type": "string"
          },
          "deCausaSiniestro": {
            "type": "string"
          },
          "deHechos": {
            "type": "string"
          },
          "indExtemporaneo": {
            "type": "string"
          },
          "deExtemporaneo": {
            "type": "string",
            "nullable": true
          },
          "nroRiesgoUbicacion": {
            "type": "integer"
          },
          "emailAsegurado": {
            "type": "string",
            "format": "email"
          },
          "telefAsegurado": {
            "type": "string"
          }
        }
      },
      "DetalleAp": {
        "type": "object",
        "properties": {
          "idProvinciaOcurr": {
            "type": "string"
          },
          "idLocalidadOcurr": {
            "type": "string"
          },
          "idCpOcur": {
            "type": "string"
          },
          "deDirCalleOcurr": {
            "type": "string"
          },
          "deDirNroOcurr": {
            "type": "string"
          },
          "deTareas": {
            "type": "string"
          },
          "indTareasSiniestro": {
            "type": "string"
          },
          "deDanos": {
            "type": "string"
          }
        }
      }
    }
  }
}
