openapi: 3.0.0
info:
  title: Servicios Home Allianz Network - Common Components
  version: 1.0.0
  description: |
    Shared components for the Servicios Home Allianz Network API.
    
    This file contains common schemas, security definitions, and server configurations
    used across all controller-specific OpenAPI documentation files.
    
    **Architecture**: Database-First with Oracle JPublisher
    - Business logic resides in Oracle stored procedures
    - DAO classes auto-generated from Oracle object types
    - Custom Jackson serialization handles JSON ↔ Oracle type conversion

servers:
  - url: https://api.allianz.com.ar/v1
    description: Production
  - url: https://api-qa.allianz.com.ar/v1
    description: QA Environment
  - url: https://api-dev.allianz.com.ar/v1
    description: Development

security:
  - oauth2: []

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        OAuth2 authentication via Kong API Gateway.
        All endpoints (except /health) require a valid Bearer token.
      flows:
        clientCredentials:
          tokenUrl: http://testauth.allianz.com.ar/token
          scopes: {}

  schemas:
    # ========================================
    # Standard Header (used in all requests)
    # ========================================
    TyHeader:
      type: object
      required:
        - uuid
        - userName
        - userAuthProvider
        - applicationId
      properties:
        uuid:
          type: string
          description: Unique transaction identifier (UUID format)
          example: "550e8400-e29b-41d4-a716-446655440000"
        userName:
          type: string
          description: Authenticated user name (from OAuth token)
          example: "john.doe"
        userAuthProvider:
          type: number
          description: OAuth provider ID (1 = default provider)
          example: 1
        applicationId:
          type: number
          description: Application ID (100 = Home Portal)
          example: 100

    # ========================================
    # Standard Response (used in all responses)
    # ========================================
    TyResponse:
      type: object
      properties:
        responseCode:
          type: number
          description: Response status code (matches HTTP status or custom business code)
          example: 200
        responseId:
          type: string
          nullable: true
          description: Optional response identifier
          example: null
        description:
          type: string
          nullable: true
          description: Response message (null on success, error message on failure)
          example: null

    # ========================================
    # Error Response Structure
    # ========================================
    ErrorResponse:
      type: object
      description: |
        Standard error response structure.
        Note: The actual response will be wrapped in an array with capitalized root key.
      properties:
        response:
          $ref: '#/components/schemas/TyResponse'
      example:
        response:
          responseCode: 400
          responseId: null
          description: "Error en request: Invalid parameters"
