openapi: 3.0.0
info:
  title: Servicios Home Allianz Network - Connected User Information
  version: 1.0.0
  description: |
    API documentation for ApiInfUsuarioConectadoController endpoints.
    
    This file documents 1 endpoint from the ApiInfUsuarioConectadoController.
    
    **Common Components**: For shared schemas and security configuration, see `openapi-common.yaml`

# Reference common file (for documentation purposes)
x-common-spec: openapi-common.yaml

# Use same servers as common file
servers:
  - url: https://api.allianz.com.ar/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local Development

# Use same security schemes as common file
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authentication via Kong API Gateway
      flows:
        clientCredentials:
          tokenUrl: http://testauth.allianz.com.ar/token
          scopes: {}

# Default security for this controller
security:
  - oauth2: []

tags:
  - name: Connected User Information
    description: Provides information about the currently authenticated user

paths:
  /user/information:
    get:
      summary: Get Connected User Information
      description: |
        Retrieves detailed information about the currently authenticated user, including 
        name, surname, email, and birthday.
        
        **Database Procedure**:
        - Schema: `API_CORE`
        - Package: `API_INF_USUARIO_CONECTADO`
        - Procedure: `P_GET_USER_INFORMATION`
        
        **Security**: 
        - Authentication: Required (OAuth2)
        - Authorization: Any authenticated user
        
        **Use Cases**:
        - Display user profile information
        - Show personalized welcome messages
        - Populate user profile forms
        
      operationId: getUserInformation
      tags:
        - Connected User Information
      security:
        - oauth2: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  InfUsuarioConectadoOut:
                    type: array
                    items:
                      $ref: '#/components/schemas/TyInfUsuarioConectadoOut'
              example:
                InfUsuarioConectadoOut:
                  - response:
                      responseCode: 200
                      responseId: null
                      description: null
                    infUsuarioConectado:
                      id: 12345
                      descNombre: "Juan"
                      descApellido: "Pérez"
                      descEmail: "juan.perez@allianz.com.ar"
                      feCumpleAnos: "1985-03-15"
        '400':
          description: Bad Request - Invalid parameters or SQL exception
          content:
            application/json:
              schema:
                type: object
                properties:
                  InfUsuarioConectadoOut:
                    type: array
                    items:
                      $ref: '#/components/schemas/TyInfUsuarioConectadoOut'
              example:
                InfUsuarioConectadoOut:
                  - response:
                      responseCode: 400
                      responseId: null
                      description: "Error en request: Invalid user session"
                    infUsuarioConectado: null
        '401':
          description: Unauthorized - Missing or invalid authentication token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '500':
          description: Internal Server Error - Unexpected error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  InfUsuarioConectadoOut:
                    type: array
                    items:
                      $ref: '#/components/schemas/TyInfUsuarioConectadoOut'
              example:
                InfUsuarioConectadoOut:
                  - response:
                      responseCode: 500
                      responseId: null
                      description: "Error inesperado"
                    infUsuarioConectado: null

components:
  schemas:
    # Output Type (Inner structure - inside root array)
    TyInfUsuarioConectadoOut:
      type: object
      description: Connected user information response object (inner structure, not root)
      required:
        - response
      properties:
        response:
          $ref: '#/components/schemas/TyResponse'
        infUsuarioConectado:
          $ref: '#/components/schemas/TyInfUsuarioConectado'
          nullable: true
          description: Connected user details (null on error)
    
    # Business Data Object
    TyInfUsuarioConectado:
      type: object
      description: Connected user detailed information
      properties:
        id:
          type: number
          description: User ID
          example: 12345
          nullable: true
        descNombre:
          type: string
          description: User's first name
          example: "Juan"
          nullable: true
        descApellido:
          type: string
          description: User's last name / surname
          example: "Pérez"
          nullable: true
        descEmail:
          type: string
          format: email
          description: User's email address
          example: "juan.perez@allianz.com.ar"
          nullable: true
        feCumpleAnos:
          type: string
          description: User's birthday (date format can vary)
          example: "1985-03-15"
          nullable: true
    
    # Standard Response (from common)
    TyResponse:
      type: object
      description: Standard response metadata
      properties:
        responseCode:
          type: integer
          description: Response status code (HTTP status or custom business code)
          example: 200
          nullable: true
        responseId:
          type: string
          description: Optional response identifier for tracking
          example: null
          nullable: true
        description:
          type: string
          description: Response message (null on success, error message on failure)
          example: null
          nullable: true
